
4_Convolutional_Neural_Networks/W2/W2A1/resnet50.h5
4_Convolutional_Neural_Networks/W3/W3A1/model_data/variables/variables.data-00000-of-00001
4_Convolutional_Neural_Networks/W4/W4A2/pretrained-model/imagenet-vgg-verydeep-19.mat
5_Sequence Models/W2/W2A2/data/glove.6B.50d.txt
5_Sequence Models/W2/W2A1/data/glove.6B.50d.txt
5_Sequence Models/W3/W3A2/XY_dev/X_dev.npy
5_Sequence Models/W3/W3A2/XY_train/X.npy
5_Sequence Models/W4/.Trash-0/files/W4A2-UGL-NER.tar.gz
5_Sequence Models/W4/.Trash-0/files/W4A2.tar.gz
5_Sequence Models/W4/.Trash-0/files/W4A3UGLQA.tar.gz
5_Sequence Models/W4/.Trash-0/info/W4A3UGLQA.tar.gz.trashinfo
5_Sequence Models/W4/.Trash-0/files/QA_dataset.ipynb
5_Sequence Models/W4/.Trash-0/info/QA_dataset.ipynb.trashinfo
5_Sequence Models/W4/.Trash-0/info/W4A2-UGL-NER.tar.gz.trashinfo
5_Sequence Models/W4/.Trash-0/info/W4A2.tar.gz.trashinfo
5_Sequence Models/W4/W4A2_UGL/model/._tf_model.h5
5_Sequence Models/W4/W4A2_UGL/model/tf_model.h5
5_Sequence Models/W4/W4A3_UGL/model/pytorch/pytorch_model.bin
5_Sequence Models/W4/W4A3_UGL/model/tensorflow/._tf_model.h5
5_Sequence Models/W4/W4A3_UGL/model/tensorflow/tf_model.h5
5_Sequence Models/W4/W4A4_UGL_POS/glove/glove.6B.100d.txt
